@charset "ISO-8859-1";

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
	background: #f0f0f0;
    padding: 5%;
}


.menu {
     display: flex;
}


.menu p {
     margin-right: 10rem;
     cursor: pointer;
}


.content {
      margin-top: 5rem;
}

[data-content] {	
      display: none;
}


.active[data-content] {	
      display: block;
}
